{% extends "base_logged_in.html" %}

{% load static %}

{% block CSS %}
<link rel="stylesheet" type="text/css" href="{% static 'pots/dashboard.css' %}">
{% endblock %}

{% block title %}Wishpot: Dashboard{% endblock %}

{% block content %}
<div class="app">
    <div class="spacer"></div>
    <h1 class="wishpot-logo">wishpot</h1>
</div>
    
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    console.log("potatoes!")
    const app = new Vue({
        el: '.app',
        delimiters: ['<%', '%>'],
        data: {
            message: 'Dashboard!'
        }
    })
</script>
{% endblock %}