{% extends "base.html" %}

{% load static %}

{% block CSS %}
<link rel="stylesheet" type="text/css" href="{% static 'pots/dashboard.css' %}">
{% endblock %}

{% block title %}wishpot - dashboard{% endblock %}

{% block content %}
<div class="app">
    <div class="spacer"></div>
        <h1 class="wishpot-logo">
            <a href="{% url 'dashboard' %}">wishpot</a>
        </h1>
    
    <div class="dash-buttons">
        <button class="dashboard-button">
            <a href="{% url 'new-list' %}">
                <span title="new list" class="iconify" data-inline="false" data-icon="dashicons:plus"></span>
            </a>
        </button>
        <button class="dashboard-button">
            <a href="{% url 'lists' %}">
                <span title="lists" class="iconify" data-inline="false" data-icon="fluent:document-bullet-list-24-regular"></span>
            </a>
        </button>
        <button class="dashboard-button">
            <a href="{% url 'spends' %}">
                <span title="spends" class="iconify" data-inline="false" data-icon="emojione-monotone:money-with-wings"></span>
            </a>
        </button>
    </div>
    {{ block.super }}

</div>

<script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    console.log("potatoes!")
    const app = new Vue({
        el: '.app',
        delimiters: ['<%', '%>'],
        data: {
            message: 'Dashboard!'
        }
    })
</script>
{% endblock %}