{% extends "base.html" %}

{% block title %} Signup {% endblock %}

{% block content %}

<div id="app">
    <h1><% message %></h1>
    <a href="{% url 'login' %}">Login</a>
    <form method="post" action=".">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit">Sign up</button>
    </form>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    console.log("potatoes!")
    const app = new Vue({
        el: '#app',
        delimiters: ['<%', '%>'],
        data: {
            message: 'Signup!'
        }
    })
</script>
{% endblock %}
