{% extends "base.html" %}

{% load static %}

{% block CSS %}
<link rel="stylesheet" type="text/css" href="{% static 'pots/signup.css' %}">
{% endblock %}

{% block title %} Signup {% endblock %}

{% block content %}

<div class="app">
    <h1 class="wishpot-logo">wishpot</h1>
    <div class="form-div">
        <form class="signup-form" method="post" action=".">
            {% csrf_token %}
            <h3>{{ form.username.label}}:</h3>
            <h3 class="form-field">{{ form.username }}</h3>
            <h3>{{ form.password1.label}}:</h3>
            <h3 class="form-field">{{ form.password1 }}</h3>
            <h3>{{ form.password2.label }}:</h3>
            <h3 class="form-field">{{ form.password2 }}</h3>

            <button type="submit">✔</button>
        </form>
    </div>
    <a class="form-switch-link" href="{% url 'login' %}">Already registered?</a>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    console.log("potatoes!")
    const app = new Vue({
        el: '.app',
        delimiters: ['<%', '%>'],
        data: {
            message: 'Signup!'
        }
    })
</script>
{% endblock %}
