.spacer {
    margin-bottom: 5%;
}

.dash-buttons {
    margin: 2% 10%;
    display: flex;
    justify-content: space-evenly;
}
.dashboard-button {
    height: auto;
    border-radius: 50%;
    border: transparent;
    padding: 4%;
    margin: 2%;
    background-color: #8F2761;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.749);
}

.iconify {
    font-size: 4em;
    font-weight: bold;
}

.dashboard-button:hover {
    text-decoration: underline;
    cursor: pointer;
    color: white;
}