{% extends "base.html" %}

{% load static %}

{% block CSS %}

{% endblock %}

{% block title %} Login {% endblock %}

{% block content %}

<div class="app">
    <h1 class="wishpot-logo"><% app_name %></h1>
    <a href="{% url 'signup' %}">Sign up</a>
    <form class="login-form" method="post" action=".">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit">Login</button>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    var app = new Vue({
        el: '.app',
        delimiters: ['<%', '%>'],
        data: {
            app_name: 'wishpot',
            message: 'Login'
        }
    })
</script>
{% endblock %}
