{% extends "base_logged_out.html" %}

{% load static %}

{% block CSS %}
<link rel="stylesheet" type="text/css" href="{% static 'pots/signup.css' %}">
{% endblock %}

{% block title %} Login {% endblock %}

{% block content %}

<div class="app">
    <h1 class="wishpot-logo">wishpot</h1>
    <div class="form-div">
        <form class="login-form" method="post" action=".">
            {% csrf_token %}
            <h3>{{ form.username.label}}:</h3>
            <h3 class="form-field">{{ form.username }}</h3>
            <h3>{{ form.password.label}}:</h3>
            <h3 class="form-field">{{ form.password }}</h3>

            <button type="submit">✔</button>
        </form>
    </div>
    <a class="form-switch-link" href="{% url 'signup' %}">Don't have an account?</a>
</div>


<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    var app = new Vue({
        el: '.app',
        delimiters: ['<%', '%>'],
        data: {
            message: 'Login'
        }
    })
</script>
{% endblock %}
